// popup messages inbox and message page when moblie view
.account-popup {
    position: absolute;
    width: 240px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 490px;
    //color: black;
    right: -115px;
    top: 40px;
    overflow-y: scroll;
    border-radius: 2px;
    &::-webkit-scrollbar {
        display: none;
    }
    &-blogs-container {
        display: flex;
        flex-direction: column;
    }
    &-blog {
        display: flex;
        flex-direction: column;
        &-links {
            margin: 0 20px 0 55px;
        }
        &-link-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3px 4px;
            text-decoration: none;
            width: 100%;
            font-size: 0.875rem;
            vertical-align: baseline;
        }
        &-head {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            &-img img {
                margin: 8px 11px;
                width: 37px;
                height: 37px;
                object-fit: cover;
                border-radius: 2px;
            }
            &-text {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 11px;
                font-size: 0.875rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-grow: 1;
                h1 {
                    font-weight: 700;
                    font-size: 0.875rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 400;
        height: 36px;
        line-height: 1.5;
        padding: 5px 20px 5px 10px;

        .clickable {
            text-decoration: none;
            cursor: pointer;
        }
    }
    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 400;
        height: 36px;
        line-height: 1.5;
        padding: 6px 4px;
        .clickable {
            padding: 0 6px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-actions {
        display: flex;
        flex-direction: column;
        .account-action-link {
            text-decoration: none;
            color: inherit;
        }
        .account-action-row {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 20px 0 10px;
            .action-left {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: auto;
                .action-icon {
                    margin-right: 10px;
                }
                .action-title {
                    line-height: 1.6;
                    font-size: 1rem;
                    padding: 5px 0;
                }
            }
        }
    }
}

.log-out-overlay {
    font: 'Favorit', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial,
        sans-serif;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.95;

    &-text {
        font-size: 1.625rem;
        font-weight: bolder;
        line-height: 1.3077;
        margin-bottom: 30px;
    }
    &-buttons-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            margin: 15px 8px 0;
            width: auto;
            font-weight: bold;
        }
    }
}
