
body #forget-password {
    background-image: none;
  }
  /* body #forget-password-email {
    margin-bottom: 10px;
  } */
  body .buttons-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  body #reset-password {
    padding: 0 19px;
    margin: 0;
    padding: 0 16px;
    height: 45px;
    line-height: 44px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    border: none;
    width: 160px;
  }
  body #cancel {
    color: white !important;
    margin: 0;
    padding: 0 16px;
    height: 45px;
    line-height: 44px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    border: none;
    width: 84px;
  }
  body #done {
    color: white !important;
  }
  body .ReCAPTCHA {
    margin-top: 10px;
  }
  .form-msg {
    opacity: 1;
    max-height: 300px;
    margin-top: 10px;
    z-index: 0;
    padding: 14px 15px 14px 15px;
    position: relative;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    overflow: hidden;
    clear: both;
    transition-property: max-height, opacity, margin;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
    margin-top: 10px;
  }
  body #reset-password-btn {
    color: white !important;
  }
  body #reset-auth-input {
    margin-top: 0px !important;
    border-radius: 0%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  body #reset-pass-logo {
    margin-top: 14px;
  }