// helper class
.blogInfo-row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    button {
        text-decoration: none;
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.full-width-btn {
    width: 100%;
}

.blogInfo-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 1rem;
}

.init-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.to-end {
    justify-self: flex-end;
}

.no-data-error {
    padding-left: 15px;
    padding-top: 15px;
    color: brown;
}

// main styles
.dashboard {
    display: flex;
    justify-content: center;
    margin: 94px auto;
}

.dashboard-sidebar {
    width: 320px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    h3 {
        border-bottom: 2px solid rgba(255, 255, 255, 0.13);
        padding: 0 10px 10px;
        font-size: 1.3125rem;
        font-weight: 700;
    }

    .explore-link {
        display: block;
        margin-top: 30px;
        padding-left: 10px;
        text-decoration: none;
    }
}

.dashboard-recommend-blogs {
    min-height: 350px;
}

.dashboard-blogInfo {
    padding: 16px;
    img {
        width: 37px;
        height: 37px;
        border-radius: 3px;
        margin-right: 11px;
    }

    a {
        text-decoration: none;
    }

    .follow-btn {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5;
        padding-right: 10px;
    }

    .remove-btn {
        position: absolute;
        top: 20px;
        right: -15px;
        width: 10px;
        height: 20px;
        svg {
            display: none;
        }
    }
}

.remove-btn:hover {
    svg {
        display: block;
    }
}
.dashboard-blogInfo:hover {
    background-color: rgba(255, 255, 255, 0.13);
    .remove-btn svg {
        display: block;
    }
}

.radar-post {
    left: 0px;
    margin-top: 10px;
    width: 95%;
}

.radar-warper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.posts-region {
    width: 625px;
}

// like styles
.total-likes {
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 1.333;
    margin-bottom: 8px;
}

@media screen and (max-width: 950px) {
    .dashboard-sidebar {
        display: none;
    }
}
