.AuthInput {
    // dimensions and behaviour
    width: 300px;
    margin-top: 6px;
    padding: 11px 13px;

    // font
    line-height: 1.4;
    font-size: 16px;
    color: black;

    // decoration and borders
    outline: none;
    border: none;
    border-radius: 3px;
  }