.AuthBtn {
    // dimensions and behaviour
    width: 300px;
    padding: 10px 15px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    // font
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;

    // decoration and borders
    background-color: white;
    font-family: 'Favorit', Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.AuthBtnGoogle {
    // dimensions and behaviour
    opacity: 1 !important;
    width: 300px;
    padding: 10px 15px;
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    // font
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    color: black !important;

    // decoration and borders
    background-color: white !important;
    font-family: 'Favorit', Arial, Helvetica, sans-serif !important;
    text-decoration: none;
    cursor: pointer !important;
    border: none !important;
    border-radius: 3px !important;
}
