.AuthFooter {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: space-between;
    padding: 15px 10px;
    align-self: flex-end;

    a {
        color: white;
        text-decoration: none;
        padding-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .AuthFooter {
        justify-content: center;
        font-weight: 500;

        .AuthFooter__right {
            display: none;
        }
    }
}
