$primiry-bg: #001935;
$secondary-bg: #405368;
$primiry-color: white;
$secondary-color: #a5aeb8;
$button-color: #00b8ff;
$button-color-secondary: #00cf35;
//message popup colors
$sender-color: #787878;
$receive-color: #2f2f2f;

//dark mode colors
$primiry-color-dark: #000;
$secondary-color-dark: #222;
$border-radius-primary: 3px;

// logo of the site
.fa-downcase-t {
    margin-top: -2px;
}
.fa-downcase-t:before {
    font-family: Arial, sans-serif; /* your font family here! */
    font-weight: 800;
    content: 't';
    font-size: 45px;
    //color: $primiry-color;
}
%defultbtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
.nav {
    // navber class
    background-color: transparent;
    //border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 54px;
    &-container {
        height: 54px;
        width: 100%;
        max-width: 1716px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        padding: 5px 32px 5px 22px;
    }
    //section1 contains logo and searchbar
    .section1 {
        display: flex;
        align-items: center;
        //icons for mobile screen
        .menu-mobile-icon,
        .search-mobile-icon {
            display: none;
        }
        //menue for mobile screen
        .navbar-menu-mobile {
            display: none;
        }
        .logo {
            padding-right: 18px;
            font-size: 0.9rem;
        }
        //searchbar classs
        .search {
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            //background-color: rgba(255, 255, 255, 0.25);
            border-radius: $border-radius-primary;
            height: 36px;
            position: relative;
            &-icon {
                background-color: inherit;
                padding-left: 10px;
                padding-right: 5px;
                height: 36px;
                display: flex;
                align-items: center;
                //color: $secondary-color;
                font-size: 19px;
                border-radius: $border-radius-primary 0 0 $border-radius-primary;
                // i {
                //     color: #bcc3ca;
                // }
            }
            .loading {
                position: absolute;
                left: 93%;
                width: 25px;
                height: 25px;
                .MuiCircularProgress-root {
                    background: inherit;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                }
            }
            &-input {
                background-color: inherit;
                border-radius: 0 $border-radius-primary $border-radius-primary 0;
                //color: $secondary-color;
                padding: 10px 0;
                //font-size: 15px;
                outline: none;
                box-shadow: none;
                -webkit-appearance: none;
                border: none;
                font-weight: 550;
                &::placeholder {
                    //color: #bcc3ca;
                    font-size: 17px;
                    transform: translate3d(0, 1.5px, 0);
                    font-weight: 400;
                }
            }

            //search bar result
            .search-result {
                position: absolute;
                top: 45px;
                border-radius: 3px;
                width: 100%;
                //background-color: $primiry-color;
                //color: $primiry-color-dark;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li {
                        align-items: center;
                        box-sizing: border-box;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        min-height: 45px;
                        padding: 8px;
                        text-decoration: none;
                        cursor: pointer;
                        //color: $primiry-color-dark;
                        // &:hover {
                        //     background-color: #ededed;
                        // }
                        i {
                            font-size: 15px;
                            //color: black;
                        }
                    }
                    .search-result-dis {
                        align-items: center;
                        //background: rgba(#000, 0.07);
                        //color: rgba(#000, 0.65);
                        display: flex;
                        font-family: var(--font-family);
                        font-size: 0.875rem;
                        font-weight: 400;
                        height: 35px;
                        line-height: 1.5;
                        margin: 0;
                        padding: 0 10px;
                        //background-color: #ededed;
                    }
                    // span.color {
                    //     color: $button-color;
                    // }

                    //seach result blogs
                    .search-result-blog {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        &-section1 {
                            display: flex;
                            align-items: center;
                            &-img {
                                width: 37px;
                                height: 37px;
                                margin-right: 5px;
                                border-radius: 3px;

                                img {
                                    width: 100%;
                                }
                            }
                            &-img.Circle {
                                border-radius: 50%;
                            }
                            &-text {
                                h3,
                                h4 {
                                    //color: $primiry-color-dark;
                                    margin: 0;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                }
                                // h4 {
                                //     color: rgba(0, 0, 0, 0.65);
                                // }
                            }
                        }
                        &-button {
                            margin-right: 10px;
                            button {
                                @extend %defultbtn;
                                //color: $button-color;
                                font-weight: 550;
                                font-size: 0.85rem;
                                cursor: pointer;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                // .search-result-go {
                // }
            }
            // .search-result.dark {
            //     background-color: $secondary-color-dark;
            //     color: $primiry-color;
            //     // i {
            //     //     color: $primiry-color;
            //     // }
            //     // li:hover,
            //     // .search-result-dis {
            //     //     background-color: #323232;
            //     // }
            //     // .search-result-blog-section1-text h4 {
            //     //     color: #9e9e9e;
            //     // }
            // }
        }
        //search bar when focus on it
        // .search.focus {
        //     // background-color: $primiry-color;
        //     // .search-icon {
        //     //     color: black;
        //     // }
        //     // .search-input {
        //     //     color: black;
        //     // }
        // }
        // .search.focus.dark {
        //     background-color: $secondary-color-dark;
        //     .search-icon {
        //         color: $primiry-color;
        //     }
        //     .search-input {
        //         color: $primiry-color;
        //     }
        // }
    }

    //section2 contains navbar links
    .section2 {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        .link-icon {
            a {
                color: inherit;
                i {
                    font-size: 22px;
                    //color: $secondary-color;
                }
            }
            // a.active {
            //     i {
            //         color: $primiry-color;
            //     }
            // }
            cursor: pointer;
            margin-left: 33px;
            i {
                font-size: 22px;
                //color: $secondary-color;
            }
        }
        // .link-icon.active {
        //     i {
        //         color: $primiry-color;
        //     }
        // }
        .link-icon.pen {
            //background-color: $button-color;
            margin-left: 45px;
            padding: 5px 10px;
            border-radius: 3px;
            // i {
            //     color: $primiry-bg;
            // }
        }

        .link-icon.message,
        .link-popup {
            position: relative;
            z-index: 100;
            // popup of messages
        }
        .un-read-msgs {
            position: absolute;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.75rem;
            font-weight: 700;
            height: 20px;
            justify-content: center;
            left: 65%;
            line-height: 1.44;
            min-width: 11px;
            padding: 0px 5px;
            text-decoration: none;
            top: -40%;
        }
        // button in un auth navbar
        .log,
        .sign {
            //@extend %defultbtn;

            color: inherit;
            border: none;

            font: inherit;
            outline: inherit;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
            padding: 6px 15px;

            color: #000; //?
            border-radius: 3px;
            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .log {
            margin-right: 10px;
            background-color: #00cf35;
        }
        .sign {
            background-color: #00b8ff;
        }
    }
}
.popup {
    position: absolute;
    //background-color: $primiry-color;
    width: 295px;
    height: auto;
    max-height: 490px;
    //color: black;
    left: -107px;
    top: 40px;
    font-size: 0.875rem;
    overflow-y: scroll;
    border-radius: 2px;
    &::-webkit-scrollbar {
        display: none;
    }
    h3 {
        margin: 0;
        //color: #2f2f2f;
        font-size: 0.875rem;
    }
    //header contains name and new message button
    &-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        span {
            display: none;
        }
        button {
            @extend %defultbtn;
            //  color: $button-color;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
        }
        // .never {
        //     color: $secondary-color;
        // }
    }
    &-messages {
        h3 {
            margin: 0;
        }
        &-message {
            cursor: pointer;
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            //border-bottom: 1px solid #dedede;
            padding: 15px;
            // &:hover {
            //     background-color: rgb(229, 231, 234);
            // }
            &-img {
                margin-right: 10px;

                img {
                    width: 34px;
                    height: 34px;
                    border-radius: 3px;
                }
            }
            &-img.circle img {
                border-radius: 50%;
            }
            &-text {
                width: 100%;
                overflow: hidden;
                .sender-up {
                    display: flex;
                }
                .receiver {
                    margin-bottom: 1px;
                }
                .sender {
                    //  color:rgba(0,0,0,.65);
                    font-size: 0.875rem;
                    font-weight: 700;
                    justify-content: space-between;
                    letter-spacing: 0.01px;
                    line-height: 1.5;
                    line-height: 21px;
                }
                .sender-up .sender,
                .sender-up .message {
                    font-size: 0.73125rem;
                    font-weight: 700;
                    line-height: 1.44;
                    line-height: 15px;
                }
                .sender {
                    margin-right: 5px;
                }
                .message {
                    //color: #878787;
                    font-weight: 400;
                    overflow: hidden;
                    display: inline-block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        &-message.notSeen {
            .receiver {
                color: #04b9ff;
            }
            .notSeenDot {
                position: absolute;
                top: 18px;
                right: 16px;
                color: #04b9ff;

                display: flex;
                align-items: center;
                i {
                    font-size: 5px;
                }
            }
        }
        // .sender {
        //     color: $sender-color;
        // }
        // .receiver {
        //     color: $receive-color;
        // }
    }

    //new message button view
    &-newmessage {
        font-size: 1rem;
        //color: $sender-color;
        font-weight: 500;
        line-height: 1.5;
        // span {
        //     color: $sender-color;
        // }
        &-header {
            padding: 15px;
            display: flex;
            align-items: center;
            .loading {
                transform: translateX(15px);
                display: flex;
                align-items: center;
            }
        }
        input {
            @extend %defultbtn;
        }
    }
}
// .popup.dark {
//     background-color: $secondary-color-dark;
//     .popup-messages-message,
//     .popup-header {
//         border-bottom-color: rgba(255, 255, 255, 0.15);
//     }
//     .popup-messages-message:hover {
//         background-color: lighten($secondary-color-dark, 10);
//     }
//     h3 {
//         color: $primiry-color;
//     }
//     .sender {
//         color: #9a9a9a;
//     }
//}
.messagepage-mobile {
    .popup-header {
        position: absolute;
        top: 0;
        z-index: 70;
        left: 0;
        width: 100%;
        height: 54px;
    }
    .popup-messages {
        margin-top: 54px;
        //  background-color: $primiry-color;
        min-height: calc(100vh - 54px);
        height: 100%;
        .sender {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            line-height: 18px;
        }
        .receiver {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5;
        }
        .sender-up {
            display: flex;
            align-items: center;
        }
        .no-chat {
            height: calc(100vh - 54px);
        }

        &-message {
            font-size: 15px;
            &-text {
            }
        }
    }
}
.popup-header {
    background-color: $primiry-color;
    // h3 {
    //     // color: $primiry-color-dark;
    // }
}
.popup-messages {
    .popup-messages-message-img {
        background: inherit;
    }
    .no-chat {
        align-items: center;
        padding: 15px 0;
        width: 100%;
        height: 250px;
        text-align: center;
        .icon {
            margin-bottom: 30px;
            i {
                font-size: 70px;
            }
        }
        .text {
            font-size: 25px;
        }
    }
}
// .popup-messages {
//     background-color: $primiry-color;
// }
// .popup-header.dark {
//     background-color: $primiry-color-dark;
// }
// .popup-messages.dark {
//     background-color: $secondary-color-dark;
//     h3 {
//         color: $primiry-color;
//     }
//     .sender {
//         color: #9a9a9a;
//     }
// }

// new post popup
.new-post-popup {
    //background-color: rgba(0, 25, 53, 0.95);
    display: flex;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    // transform: translateZ(0);
    transition: background-color 0.15s linear;
    width: 100%;
    z-index: 100;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &-items {
        // z-index: 1;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        justify-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);

        .new-post-popup-box {
            // z-index: 3;
            z-index: 1000;
            cursor: pointer;
            text-align: center;
            height: 100px;
            margin-right: 30px;
            width: 100px;
            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                i {
                    //color: $primiry-bg;
                    font-size: 35px;
                }
            }
            $bg-list: #ffffff, #ff492f, #ff8a00, #00cf35, #00b8ff, #7c5cff,
                #ff62ce;
            @for $i from 1 through length($bg-list) {
                $bg-color: nth($bg-list, $i);
                .new-post-popup-box-icon#{$i} {
                    background-color: $bg-color;
                }
            }
            &-text {
                margin-top: 5px;
                //color: $primiry-color;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .new-post-popup-close {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        outline: inherit;
        height: 100%;
        position: absolute;
        width: 100%;
        span {
            // z-index: 2;
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
}
.new-post-popup.dark {
    background-color: rgba(0, 0, 0, 0.95);
    i {
        color: #000;
        font-size: 30px;
    }
}
//logout popup
.log-out-overlay-text {
    padding: 15px;
    text-align: center;
}
// big screen
@media screen and (min-width: 961px) {
    .nav {
        .search {
            &-input {
                width: 450px;
            }
            .search-result {
                max-height: 70vh;
            }
        }
    }
    .messagepage-mobile {
        .popup-header {
            top: 54px;
        }
        .popup-messages {
            margin-top: 108px;
        }
        .popup-messages {
            background-color: $primiry-color;
        }
        .popup-newmessage {
            margin-top: 108px;
        }
    }
}

// mobile screen
@media screen and (max-width: 960px) {
    .nav {
        height: 44px;
        background: $primiry-bg;
        position: fixed;
        top: 0;
        z-index: 50;
        &-container {
            max-width: 970px;
            flex-direction: column;
            padding: 5px 10px;
        }
        .section1 {
            justify-content: space-between;
            //icons for mobile screen
            .menu-mobile-icon,
            .search-mobile-icon {
                display: inline-flex;
                color: $secondary-color;
                font-size: 20px;
            }
            .search {
                .loading {
                    left: 89%;
                }
            }
            //menue for mobile screen
            .navbar-menu-mobile {
                display: flex;

                position: absolute;
                top: 44px;
                left: -100%;
                height: calc(100vh - 44px);
                opacity: 1;
                transition: all 0.25s ease;
                width: 100%;
                a {
                    color: inherit;
                    text-decoration: none;
                }
                .navbar-menu-mobile-close {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    outline: inherit;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    span {
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        top: 0;
                        left: 0;
                    }
                }
                .navbar-menu-mobile-menu {
                    display: flex;
                    flex-direction: column;
                    z-index: 1000;
                    width: 90vw;
                    overflow-y: scroll;
                    .AuthBtn {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1.5;
                        padding: 6px 15px;
                        width: auto;
                        &:last-of-type {
                            margin-left: 15px;
                        }
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .account-popup-blog-head {
                        h1 {
                            font-size: 1.155rem;
                            font-weight: 400;
                            line-height: 1.333;
                        }
                        &:active {
                            background-color: inherit;
                        }
                    }
                    .account-popup-blog-links {
                        font-size: 1.125rem;
                        font-weight: 400;
                        line-height: 1.333;
                        a.account-popup-blog-link-row {
                            font-size: 1.125rem;
                        }
                    }
                    .account-popup-blog-head:hover,
                    .account-popup-blog-link-row:hover {
                        background-color: inherit;
                    }
                    .create-new-post {
                        background: none;
                       // color: inherit;
                        border: none;
                        padding: 0;
                        font: inherit;
                        outline: inherit;
                       // background-color: $button-color;
                        align-items: center;
                        border-radius: 6px;
                        line-height: 1.333;
                        margin: 10px 15px 8px;
                        max-width: 200px;
                        padding: 8px 0;
                        color: $primiry-color;

                        border-radius: 6px;
                        display: flex;
                        font-size: 1.125rem;
                        font-weight: 700;
                        justify-content: center;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transform: translateX(-50%);
                        left: 50%;
                        line-height: 1.333;
                        margin: 10px 15px 8px;
                        max-width: 200px;
                        padding: 8px 0;
                        position: relative;

                        width: 100%;
                        i {
                            margin-right: 8px;
                        }
                    }
                    .navbar-menu-mobile-menu-item-text {
                        display: flex;
                        justify-content: space-between;
                    }
                    ul {
                        width: 100%;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        color: $primiry-color;
                        li {
                            padding: 13px 15px;
                            font-size: 1.125rem;
                            &:active {
                                background-color: lighten($primiry-bg, 5);
                            }
                            a,
                            a:hover {
                                text-decoration: none;
                            }
                            i {
                                font-size: 1.4rem;
                                min-width: 45px;
                            }
                        }
                    }
                    .blogs {
                        h3 {
                            padding: 13px 15px;
                            font-size: 1.3125rem;
                            font-weight: 700;
                            line-height: 1.5238;
                        }
                    }
                    .navbar-menu-mobile-footer {
                        padding: 20px 10px 0;
                        padding-bottom: 117px;
                        footer {
                            display: flex;
                            flex-wrap: wrap;
                            font-size: 0.78125rem;
                            font-weight: 400;
                            line-height: 1.44;
                            a {
                                padding: 0 14px;
                                text-decoration: none;
                                &:active,
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .navbar-menu-mobile.active {
                left: 0;
                opacity: 1;
                transition: all 0.25s ease;
                z-index: 1;
            }
            .navbar-menu-mobile.dark {
                .navbar-menu-mobile-close span {
                    background-color: rgba(0, 0, 0, 0.95);
                }
                .navbar-menu-mobile-menu {
                    background-color: $primiry-color-dark;
                }
            }
            .logo.main {
                display: none;
            }
            .logo span:before {
                font-size: 33px;
            }
            .search {
                width: 80%;
                height: 32px;
                background-color: $primiry-color;
                border-radius: 85px;
                &-input {
                    height: 32px;
                    border-radius: 85px;
                    width: 100%;
                    padding-left: 15px;
                    &::placeholder {
                        font-size: 17px;
                    }
                }
                .search-icon {
                    display: none;
                }
                .search-result {
                    height: calc(100vh - 44px);
                    left: 0;
                    position: fixed;
                    top: 44px;
                    width: 100vw;
                    z-index: 100;
                }
            }
            .search.dark.focus {
                background-color: $secondary-color-dark;
            }
        }

        .section2 {
            display: none;
            display: none;
        }
    }

    .popup {
        &-header {
            background-color: $primiry-bg;
            padding: 15px;
            align-items: center;
            h3 {
                color: $primiry-color;
                margin: 0;
            }
            button {
                display: none;
            }
            span {
                display: inline-flex;
                i {
                    color: $primiry-color;
                    font-size: 24px;
                }
            }
        }
        &-newmessage {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 54px;
            &-header {
                input {
                    width: 80%;
                }
            }
        }
    }
}
.badge {
    position: absolute;
    transform: scale(1);
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-size: 0.78125rem;
    font-weight: 700;
    height: 17px;
    justify-content: center;
    left: 100%;
    line-height: 1.44;
    min-width: 11px;
    padding: 0 3px;
    text-decoration: none;
    top: -40%;
}
.notifications-btn {
    position: relative;
}

.notf-body {
    max-height: 500px;
    background-color: white;
    .relative {
        display: flex;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 10px;
        position: relative;
        max-height: 60px;
    }
    .noter-avatar {
        position: absolute;
        width: 24px;
        height: 30px;
        .noter-avatar-img {
            width: 24px;
            height: 24px;
        }
    }
    .notes-summary-avatars-react {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
    .summary-avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
    .avatar-react {
        bottom: 13px;
        display: flex;
        height: 14px;
        position: absolute;
        left: 24px;
        width: 14px;
    }
    .header {
        position: unset !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 3px 3px 0 0;
        box-sizing: border-box;
        display: flex;
        font-size: 1rem;
        font-weight: 700;
        justify-content: space-between;
        line-height: 1.5;
        padding: 15px 15px 8px;
        width: 100%;
        padding-bottom: 0;
        flex-direction: column;
    }
    .notf-types {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        .all,
        .reblogs,
        .replies {
            flex-grow: 1;
            text-align: center;
            padding: 8px;
            &.selected {
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .control-left {
        text-align: left;
        .header-flex-cont {
            display: flex;
            .avatar-img-mob {
                margin: 0 !important;
            }
        }
        .blogs-list {
            background-color: white;
            display: flex;
            flex-direction: column;
            .account-popup-blogs-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                align-items: center;
                .account-popup-blog-head-img {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 2px;
                        margin: 0;
                        margin-right: 10px;
                    }
                }
                .account-popup-blog-head-text {
                    h1 {
                        margin-top: 10px;
                        color: rgba(0, 0, 0);
                    }
                    div {
                        color: rgba(0, 0, 0, 0.65);
                    }
                }
            }
        }
        .btn-control {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0;
            color: inherit;
            cursor: pointer;
            margin: 0;
            padding: 0;
            user-select: none;
            .icon_arrow_carrot_down {
                font-size: 2rem;
            }
            .caption {
                font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial,
                    sans-serif;
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }

    .hi-link {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    .post-link {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    .notf-date {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 0.9rem;
        .duration {
            font-weight: 600;
        }
    }
    .notf-content {
        flex: 1;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        .post-ask-answer-content {
            * {
                font-size: 14px !important;
                display: inline !important;
            }
        }
    }
}
.notifications-container {
    scrollbar-width: thin;
    width: 380px;
    height: auto;
    max-height: 580px;
    position: absolute;
    transform: translate3d(-232px, 18px, 0px);
    display: flex;
    flex-direction: column;
    .relative {
        display: flex;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 10px;
        position: relative;
        max-height: 60px;
    }
    .noter-avatar {
        position: absolute;
        width: 24px;
        height: 30px;
        .noter-avatar-img {
            width: 24px;
            height: 24px;
        }
    }
    .notes-summary-avatars-react {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
    .summary-avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
    .avatar-react {
        bottom: 13px;
        display: flex;
        height: 14px;
        position: absolute;
        left: 24px;
        width: 14px;
    }
    .header {
        position: unset !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 3px 3px 0 0;
        box-sizing: border-box;
        display: flex;
        font-size: 1rem;
        font-weight: 700;
        justify-content: space-between;
        line-height: 1.5;
        padding: 15px 15px 8px;
        width: 100%;
        padding-bottom: 0;
        flex-direction: column;
    }
    .notf-types {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        .all,
        .reblogs,
        .replies {
            flex-grow: 1;
            text-align: center;
            padding: 8px;
            &.selected {
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .control-left {
        text-align: left;
        .header-flex-cont {
            display: flex;
            .avatar-img-mob {
                margin: 0 !important;
            }
        }
        .blogs-list {
            background-color: white;
            display: flex;
            flex-direction: column;
            .account-popup-blogs-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                align-items: center;
                .account-popup-blog-head-img {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 2px;
                        margin: 0;
                        margin-right: 10px;
                    }
                }
                .account-popup-blog-head-text {
                    h1 {
                        margin-top: 10px;
                        color: rgba(0, 0, 0);
                    }
                    div {
                        color: rgba(0, 0, 0, 0.65);
                    }
                }
            }
        }
        .btn-control {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0;
            color: inherit;
            cursor: pointer;
            margin: 0;
            padding: 0;
            user-select: none;
            .icon_arrow_carrot_down {
                font-size: 2rem;
            }
            .caption {
                font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial,
                    sans-serif;
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 10px;
            }
        }
    }

    .hi-link {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    .post-link {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        height: 36px;
        justify-content: center;
        width: 36px;
    }

    .notf-body-cont {
        overflow-y: auto;
        scrollbar-width: thin;
        width: 380px;
        height: auto;
        max-height: 580px;
        display: flex;
        flex-direction: column;
        scrollbar-color: #555555 #060022;
    }
    .see-everything-btn {
        a {
            text-decoration: none;
        }

        .see-everything {
            display: block;
            text-decoration: none;
            width: 100%;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.07);
        }
    }
}
.notf-date {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 0.9rem;
    .duration {
        font-weight: 600;
    }
}
/*  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }*/
