$primiry-bg: #001935;
$secondary-bg: #405368;
$primiry-color: white;
$secondary-color: #a5aeb8;
$button-color: #00b8ff;
$button-color-secondary: #00cf35;
//message popup colors
$sender-color: #787878;
$receive-color: #2f2f2f;


//dark mode colors
$primiry-color-dark:#000;
$secondary-color-dark:#222;
$border-radius-primary:10px;
// logo of the site
.fa-downcase-t:before {
  font-family: "Favorit", "Helvetica Neue", HelveticaNeue, Helvetica, Arial,
    sans-serif; /* your font family here! */
  font-weight: 800;
  content: "t";
  font-size: 45px;
}
%defultbtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
.nav {
  // navber class
  background-color: transparent;
  color: $primiry-color;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);

  &-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 1716px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 22px;
  }
  //section1 contains logo and searchbar
  .section1 {
    display: flex;
    align-items: center;
    //icons for mobile screen
    .menu-mobile-icon,
    .search-mobile-icon {
      display: none;
    }
    .logo {
      padding-right: 18px;
    }
    //searchbar classs
    .search {
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: $border-radius-primary;
      height: 36px;
      &-icon {
        background-color: inherit;
        padding-left: 10px;
        padding-right: 5px;
        height: 36px;
        display: flex;
        align-items: center;
        color: $secondary-color;
        font-size: 19px;
        border-radius: $border-radius-primary 0 0 $border-radius-primary;
      }
      &-input {
        background-color: inherit;
        border-radius: 0 $border-radius-primary $border-radius-primary 0;
        color: $secondary-color;
        padding: 10px 0;
        //font-size: 15px;
        outline: none;
        box-shadow: none;
        -webkit-appearance: none;
        border: none;
        font-weight: 550;
        &::placeholder {
          color: $secondary-color;
          font-size: 17px;
          transform: translate3d(0, 1.5px, 0);
          font-weight: 400;
        }
      }
    }
    .search.focus {
      background-color: $primiry-color;
      .search-icon {
        color: black;
      }
      .search-input {
        color: black;
      }
    }
    .search.focus.dark {
      background-color: $secondary-color-dark;
      .search-icon {
        color: $primiry-color;
      }
      .search-input {
        color: $primiry-color;
      }
    }
  }

  //section2 contains navbar links
  .section2 {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    .link-icon {
      cursor: pointer;
      margin-left: 33px;
      i {
        font-size: 22px;
        color: $secondary-color;
      }
    }
    .link-icon.active {
      i {
        color: $primiry-color;
      }
    }
    .link-icon.pen {
      background-color: $button-color;
      margin-left: 45px;
      padding: 5px 10px;
      border-radius: 3px;
      i {
        color: $primiry-bg;
      }
    }

    .link-icon.message,
    .link-popup {
      position: relative;
      // popup of messages
    }

    // button in un auth navbar
    .log,.sign {
      @extend %defultbtn;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      padding: 6px 15px;
      color:#000;
      border-radius: $border-radius-primary
    }
    .log {
      margin-right: 10px;
      background-color: $button-color-secondary;
    }
    .sign {
      background-color: $button-color;
    }
  }
}

// popup messages inbox and message page when moblie view
.popup {
  position: absolute;
  background-color: $primiry-color;
  width: 295px;
  height: auto;
  max-height: 490px;
  color: black;
  left: -124px;
  top: 40px;
  font-size: 0.875rem;
  overflow-y: scroll;
  border-radius: 2px;
  &::-webkit-scrollbar {
    display: none;
  }
  h3 {
    margin: 0;
    color: #2f2f2f;
    font-size: 0.875rem;
  }
  //header contains name and new message button
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #dedede;
    span {
      display: none;
    }
    button {
      @extend %defultbtn;
      color: $button-color;
      text-transform: capitalize;
      font-weight: bold;
      cursor: pointer;
    }
    .never {
      color: $secondary-color;
    }
  }
  &-messages {
    h3 {
      margin: 0;
    }
    &-message {
      cursor: pointer;
      display: flex;
      align-items: center;

      border-bottom: 1px solid #dedede;
      padding: 15px 5px;
      &:hover {
        background-color: rgb(229, 231, 234);
      }
      &-img {
        width: 34px;
        height: 34px;
        margin-right: 10px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    .sender {
      color: $sender-color;
    }
    .receiver {
      color: $receive-color;
    }
  }

  //new message button view
  &-newmessage {
    font-size: 1rem;
    color: $sender-color;
    font-weight: 500;
    line-height: 1.5;
    &-header {
      padding: 15px;
    }
    input {
      @extend %defultbtn;
    }
  }
}
.popup.dark{
  background-color: $secondary-color-dark;
  .popup-messages-message,.popup-header{
      border-bottom-color: rgba(255, 255, 255, 0.15);
  }
  .popup-messages-message:hover{
    background-color: lighten($secondary-color-dark, 10);
  }
  h3 {
    color: $primiry-color;
  }
  .sender {
    color: #9A9A9A;
  }
}
// big screen
@media screen and (min-width: 961px) {
  .nav {
    .search {
      &-input {
        width: 450px;
      }
    }
  }
}

// mobile screen
@media screen and (max-width: 960px) {
  .nav {
    height: 44px;
    &-container {
      max-width: 970px;
      flex-direction: column;
      padding: 5px 10px;
    }
    .section1 {
      justify-content: space-between;
      //icons for mobile screen

      .menu-mobile-icon,
      .search-mobile-icon {
        display: inline-flex;
        color: $secondary-color;
        font-size: 20px;
      }
      .logo.main {
        display: none;
      }
      .logo span:before {
        font-size: 33px;
      }
      .search {
        width: 75%;
        background-color: $primiry-color;
        border-radius: 85px;
        &-input {
          border-radius: 85px;
          width: 100%;
          // padding-left: 15px;
          padding: 8px 0 8px 15px;
          &::placeholder {
            font-size: 17px;
          }
        }
        .search-icon {
          display: none;
        }
      }
      .search.dark,.search.focus{
        background-color: $secondary-color-dark;
      }
    }

    .section2 {
      display: none;
    }
  }
  .popup {
    &-header {
      background-color: $primiry-bg;
      padding: 15px;
      align-items: center;
      h3 {
        color: $primiry-color;
        margin: 0;
      }
      button {
        display: none;
      }
      span {
        display: inline-flex;
        i {
          color: $primiry-color;
          font-size: 24px;
        }
      }
    }
  }
}

/*  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }*/
