.interestsTop {
  background-color: #c0c0c0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #001935;
  height: 74px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.chipsDiv {
  height: inherit;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.chipsSubDiv {
  white-space: nowrap;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -20px;
}

.chip {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  border: 1px dashed #86909e;
  border-radius: 40px;
  transition: transform 275ms cubic-bezier(0.86, 0, 0.07, 1);
  vertical-align: top;
  margin-top: 16px;
}
.chip .circleChip {
  transition: opacity 0.5s linear, width 1s linear;
  width: 110px;
  height: 42px;
  opacity: 1;
}
.chip .circleChip .innerFont {
  font-weight: 700;
  height: 44px;
  position: relative;
}
.chip .circleChip .innerFont .inner {
  text-align: center;
  border-radius: 40px;
  margin-left: -1px;
  margin-top: -2px;
  transition: width 0.6s ease-in-out;
  width: 44px;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  padding: 0 20px;
  background: transparent;
}

.spaceTopDiv {
  background-image: linear-gradient(90deg, rgba(0, 25, 53, 0), #001935);
  position: absolute;
  right: 0;
  height: inherit;
  width: 60px;
}

.chipsButtonsDiv {
  display: flex;
}
.chipsButtonsDiv .chipsButtonStyle {
  border: 1px solid rgba(0, 184, 255, 0.5);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 44px;
  margin-right: 15px;
  transition: transform 0.2s;
  top: 15px;
  position: relative;
  background-color: #00b8ff;
}
.chipsButtonsDiv .chipsButtonStyle :disabled {
  background-color: #405368;
}
.chipsButtonsDiv .chipsButtonStyle :hover {
  transform: scale(1.05);
}
.chipsButtonsDiv .chipsButtonStyle .skip {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  color: rgba(0, 184, 255, 0.5);
}
.chipsButtonsDiv .chipsButtonStyle .progressMarker {
  background: #00b8ff;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.chipsButtonsDiv .chipsButtonStyle .progressText {
  color: #001935;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  position: relative;
}

.tile_manager {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 368px;
}
@media (min-width: 992px) {
  .tile_manager {
    width: 920px;
  }
}
@media (min-width: 768px) {
  .tile_manager {
    margin-top: 92px;
    width: 690px;
  }
}
@media (min-width: 550px) {
  .tile_manager {
    width: 525px;
  }
}
.tile_manager .clearfix {
  zoom: 1;
}
.tile_manager .clearfix .titledDiv {
  opacity: 1;
  display: block;
  transform: translateY(0px);
  float: left;
  background: #7c5cff;
  color: #fff;
  text-align: center;
  width: 430px;
  height: 430px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
}
@media (min-width: 550px) {
  .tile_manager .clearfix .titledDiv {
    width: 515px;
    height: 280px;
  }
}
@media (min-width: 768px) {
  .tile_manager .clearfix .titledDiv {
    width: 430px;
    height: 430px;
  }
}
.tile_manager .clearfix .titledDiv .sub_header {
  font-size: 48px;
  font-family: Gibson, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
  width: 300px;
  margin: auto;
  font-weight: 700;
  line-height: 50px;
  margin-top: 125px;
}
@media (min-width: 768px) {
  .tile_manager .clearfix .titledDiv .sub_header {
    margin-top: 110px;
  }
}
@media (min-width: 550px) {
  .tile_manager .clearfix .titledDiv .sub_header {
    margin-top: 35px;
  }
}
.tile_manager .clearfix .titledDiv .sub_text {
  opacity: 0.5;
  font-size: 20px;
  max-width: 188px;
  padding-top: 20px;
  margin: auto;
}
.tile_manager .smallDiv_large {
  position: relative;
  height: 220px;
  width: 220px;
}
.tile_manager .smallDiv_large .title_inner {
  display: inline-block;
  position: absolute;
  margin: 10px;
  width: 210px;
  height: 210px;
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent {
  width: 220px;
  height: 220px;
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent .block_image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 164px;
  height: 164px;
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
}
@media (min-width: 768px) {
  .tile_manager .smallDiv_large .title_inner .sub_block_parent .block_image {
    width: 210px;
    height: 210px;
  }
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent .block_vignette {
  background: radial-gradient(ellipse at center, transparent 0, rgba(0, 0, 0, 0.36) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent .check_mark {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  font-size: 80px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent .block_title_container {
  position: absolute;
  left: 0;
  top: 0;
}
.tile_manager .smallDiv_large .title_inner .sub_block_parent .block_title_container .block_title_text {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0;
  font-size: 14px;
  padding-left: 11px;
  padding-top: 9px;
}
.tile_manager .smallDiv_normal {
  float: left;
}

.register_explore_anchor {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-top: 17px;
  text-decoration: none;
}
.register_explore_anchor svg {
  padding-right: 8px;
}

.auth_alert {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 15px 0;
  padding: 14px 15px;
}
.auth_alert h3 {
  font-family: var(--font-family);
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #001935;
  color: white;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: auto;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body .AuthBtn {
  width: 300px;
  padding: 10px 15px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.5;
  background-color: white;
  font-family: "Favorit", Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
body .AuthInput {
  width: 300px;
  margin-top: 6px;
  padding: 11px 13px;
  line-height: 1.4;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 3px;
}
body .OrBar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
body .OrBar .OrLeftBar,
body .OrBar .OrRightBar {
  height: 1px;
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 5px;
  background-color: white;
}
body .OrBar .OrLeftBar {
  margin-right: 0.5rem;
}
body .AuthFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px;
}
body .AuthFooter a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
body .LoginCard {
  width: 300px;
  height: 100%;
  padding-top: 4rem;
}
body .LoginCard .LoginCard__a {
  width: 300px;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
}
body .LoginCard__logo-container {
  text-align: center;
}
body .LoginCard__logo-container p {
  margin: 0;
}
body .LoginCard__logo {
  font-size: 6rem;
  color: white;
  font-weight: bold;
  font-family: "Bookman Old Style Regular";
}
body .login-form p {
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
body .LoginView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
body .LoginCard__stores-logos {
  display: none;
}
@media screen and (max-width: 900px) {
  body .AuthFooter {
    justify-content: center;
    font-weight: 500;
  }
  body .AuthFooter .AuthFooter__right {
    display: none;
  }
  body .LoginCard__stores-logos {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  body .LoginCard__stores-logos img {
    width: 100%;
    height: 65px;
  }
}

@media (max-width: 988px) {
  .overlay-container {
    display: none !important;
  }
}
.overlay-container {
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
.overlay-container .overlay-div {
  opacity: 0.95;
  background-color: #001935;
  flex-grow: 1;
}
.overlay-container .shortcut-container {
  width: 400px;
  padding: 20px;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.overlay-container .shortcut-container h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02rem;
}
.overlay-container .shortcut-container h2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  line-height: 1.5238;
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 20px 0;
  padding-bottom: 5px;
}
.overlay-container .shortcut-container .shortcut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: -10px -10px 10px;
  padding: 10px;
  border-radius: 3px;
}
.overlay-container .shortcut-container .shortcut:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.overlay-container .shortcut-container .shortcut .shortcut-name {
  flex-grow: 1;
  max-width: 100%;
  word-wrap: break-word;
}
.overlay-container .shortcut-container .shortcut .shortcut-key-container {
  white-space: nowrap;
}
.overlay-container .shortcut-container .shortcut .shortcut-key-container .shortcut-key {
  display: inline-block;
  background: rgba(85, 82, 82, 0.13);
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 1em;
  padding: 5px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
