.register_explore_anchor {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-top: 17px;
  text-decoration: none;
  svg {
    padding-right: 8px;
  }
}
