.registerTextInput {
  margin-bottom: 1%;
}

.registerTextInputDiv {
  margin: 2%;
  width: 75%;
}

.signupbtn {
  background-color: #00b8ff !important;
  color: black !important;
}

.googlebtn {
  background-color: white !important;
  color: black !important;
}
