.main-richeditor {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.text-editor-header {
    background-color: whitesmoke;
    padding: 5px;
}
.text-editor-header .btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
}

.content {
    min-height: 200px;
    border: 1px solid #ecf0f1;
    background-color: whitesmoke;
    border-top: 0px;
    padding: 20px;
}
