.LoginCard {
    .logo-delete-account {
        font-size: 30px;
        margin-top: 45px;
    }
    .form-msg {
        .form-ms-delete-account {
            text-align: center;
            font-size: 15px;
            padding: 0;
            color: white;
        }
    }
}
