body {
    .settings {
        .container1 {
            .subcontainer {
                #section {
                    .sub-section-right {
                        .sub-section-right-up {
                            .sub-section-right-up-allowAsk {
                                flex-grow: 1;
                                max-width: 500px;
                                padding: 0 10px;
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                .Ask-page-title-label {
                                    width: 100%;
                                    opacity: 0.5;
                                }
                                #update-ask-title {
                                    border: 1.25px solid #ececec !important;
                                    width: 100%;
                                    height: 35px;
                                }
                                .update-ask-title-btns {
                                    display: flex;
                                    justify-content: flex-end;
                                    width: 100%;
                                    #update-ask-title-btn-save {
                                        box-sizing: border-box;
                                        text-decoration: none;
                                        width: 66px;
                                        height: 30px;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
