.v-center-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.v-center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.v-center-content {
    display: inline-block;
    text-align: left;
}

.post-form-modal-content {
    padding: 50px 0;
}

.post-form {
    position: relative;
    display: block;
    .post-margin {
        opacity: 1;
        position: absolute;
        right: 100%;
        top: 0px;
        width: 85px;
        .post-form--avatar {
            position: relative;
            width: 64px;
            height: 64px;
            perspective: 100px;
            display: none;
            @media screen and (min-width: 1000px) {
                display: unset;
            }
            .channel-avatar {
                width: 64px;
                height: 64px;
                border-radius: 3px;
                .avatar-link {
                    border-radius: 3px;
                }
                .avatar-image {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .avatar-link {
                background-size: 100% 100%;
                display: block;
                position: absolute;
                inset: 0px;
                border-radius: 3px;
                width: 100%;
                height: 100%;
            }
            .avatar-container {
                position: absolute;
                overflow: hidden;
                backface-visibility: hidden;
            }
            .primary-avatar {
                right: -3px;
                bottom: -3px;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                position: absolute;
                overflow: hidden;
                backface-visibility: hidden;
                display: none;
                transform: scale(0);
            }
        }
    }
    .post-container {
        min-height: 99px;
        opacity: 1;
        color: black;
        background-color: #fff;
        border-radius: 3px;
        margin: auto;
        width: 100%;
        @media screen and (min-width: 560px) {
            width: 540px;
        }
        .post-container-inner {
            min-height: 64px;
            position: relative;
            font-size: 14px;
            box-sizing: border-box;
            color: black;
            .post-form--header {
                color: rgba(0, 0, 0, 0.65);
                box-sizing: border-box;
                zoom: 1;
                .controls-container {
                    display: table;
                    width: 100%;
                    padding: 10px 15px 10px 20px;
                    box-sizing: border-box;
                    .control-left {
                        text-align: left;
                        display: table-cell;
                        vertical-align: middle;
                        // box-sizing: border-box;
                        .btn-control {
                            background-color: transparent;
                            border: 0;
                            color: inherit;
                            cursor: pointer;
                            margin: 0;
                            padding: 0;
                            user-select: none;
                            .caption {
                                font-family: Helvetica Neue, HelveticaNeue,
                                    Helvetica, Arial, sans-serif;
                                font-size: 13px;
                                font-weight: 700;
                                color: #000;
                            }
                            .icon_arrow_carrot_down {
                                font-size: 12px;
                                line-height: 14px;
                                color: #000;
                            }
                        }
                    }
                    .control-right {
                        text-align: right;
                        display: table-cell;
                        vertical-align: middle;
                        .post-settings-button {
                            display: inline-block;
                            cursor: pointer;
                            box-sizing: border-box;
                            .post-settings {
                                font-size: 20px;
                                padding: 2px 3px 3px 2px;
                                background-color: transparent;
                                border: 0;
                                color: inherit;
                                cursor: pointer;
                                margin: 0;
                                user-select: none;
                            }
                        }
                        .post-form--post-settings-button {
                            display: inline-block;
                            cursor: pointer;
                            .post-settings {
                                font-size: 20px;
                                padding: 2px 3px 3px 2px;
                                background-color: transparent;
                                border: 0;
                                color: inherit;
                                cursor: pointer;
                                margin: 0;
                                user-select: none;
                                .settings-icon {
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .post-form--form {
                padding: 0 20px;
                position: relative;
                font-family: Helvetica Neue, HelveticaNeue, Helvetica, Arial,
                    sans-serif;
                font-size: 14px;
                line-height: 21px;
                .title-field {
                    margin-bottom: 10px;
                    .editor-wrapper {
                        position: relative;
                        .editor-slot {
                            position: relative;
                            font-family: Gibson, Helvetica Neue, HelveticaNeue,
                                Helvetica, Arial, sans-serif;
                            font-weight: 400;
                            font-size: 36px;
                            line-height: 47px;
                            .editor-plain-text {
                                font-family: Gibson, Helvetica Neue,
                                    HelveticaNeue, Helvetica, Arial, sans-serif;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 47px;
                                min-height: 47px;
                                word-wrap: break-word;
                                width: 500px;
                                padding: 0;
                                z-index: 2;
                                position: static;
                                color: #000;
                                background: hsla(0, 0%, 100%, 0.01);
                                box-sizing: border-box;
                                cursor: auto;
                                &:empty::before {
                                    content: attr(data-placeholder);
                                    color: #595959;
                                }
                                &:active {
                                    outline: 0;
                                    outline-style: none;
                                    outline-width: 0;
                                    -webkit-tap-highlight-color: transparent;
                                }
                                &:focus {
                                    outline: 0;
                                    outline-style: none;
                                    outline-width: 0;
                                    -webkit-tap-highlight-color: transparent;
                                }
                                .editor-placeholder {
                                    position: absolute;
                                    min-height: 42px;
                                    word-wrap: break-word;
                                    width: 500px;
                                    top: 0;
                                    left: 0;
                                    padding: 0;
                                    z-index: 1;
                                    color: rgba(0, 0, 0, 0.65);
                                    pointer-events: none;
                                    box-sizing: border-box;
                                    cursor: default;
                                    font-family: Gibson, Helvetica Neue,
                                        HelveticaNeue, Helvetica, Arial,
                                        sans-serif;
                                    font-weight: 400;
                                    font-size: 36px;
                                    line-height: 47px;
                                }
                            }
                        }
                    }
                }
                .editor-wrapper {
                    position: relative;
                    display: block;
                    .editor-slot {
                        position: relative;
                    }
                }
            }
            .post-form-bottom {
                .post-form--controls {
                    border-top: 1px solid rgba(68, 68, 68, 0.07);
                    .controls-container {
                        display: table;
                        width: 100%;
                        padding: 15px 20px;
                        box-sizing: border-box;
                        .control-left {
                            text-align: left;
                            display: table-cell;
                            vertical-align: middle;
                            width: 100%;
                            .tx-button {
                                font-size: 13px;
                                font-weight: 700;
                                display: inline-block;
                                user-select: none;
                                box-sizing: border-box;
                                cursor: pointer;
                                padding: 5px 7px;
                                border-radius: 2px;
                                font-family: Helvetica Neue, HelveticaNeue,
                                    Helvetica, Arial, sans-serif;
                                line-height: 1.4;
                                text-decoration: none;
                                border: 1px solid #9da6af;
                                background-color: #9da6af;
                                color: #fff;
                                margin: 0;
                            }
                        }
                        .control-right {
                            text-align: right;
                            display: table-cell;
                            vertical-align: middle;
                            width: 100%;
                            .post-form-save-button {
                                .split-button {
                                    user-select: none;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    border-width: 1px;
                                    border-style: solid;
                                    border-radius: 2px;
                                    font-family: Helvetica Neue, HelveticaNeue,
                                        Helvetica, Arial, sans-serif;
                                    font-size: 14px;
                                    font-weight: 700;
                                    line-height: 1.4;
                                    text-decoration: none;
                                    background-color: #00b8ff;
                                    color: #fff;
                                    justify-content: space-between;
                                    padding: 0;
                                    border: 0;
                                    white-space: nowrap;
                                    display: inline-flex;
                                    align-items: center;
                                    .to-post-button {
                                        border-color: #00b8ff;
                                        background-color: #00b8ff;
                                        color: white;
                                        cursor: default;
                                        border-radius: 2px 0 0 2px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        font-size: 13px;
                                        font-weight: 700;
                                        &:disabled {
                                            color: #80dcff;
                                        }
                                    }
                                    .dropdown-area {
                                        position: relative;
                                        width: 25px;
                                        height: 100%;
                                        transition: width 0.15s
                                                cubic-bezier(0.77, 0, 0.175, 1),
                                            opacity 0.15s
                                                cubic-bezier(0.77, 0, 0.175, 1);
                                        border-radius: 0 2px 2px 0;
                                        font-size: 12px;
                                        line-height: 1.4;
                                        text-align: center;
                                        border-color: #00b8ff;
                                        background-color: #00b8ff;
                                        color: #fff;
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                            .social-buttons {
                                height: 20px;
                                white-space: nowrap;
                                margin: 5px 0;
                                list-style: none;
                                .social-button {
                                    position: relative;
                                    display: inline-block;
                                    margin: 0 15px 0 0;
                                    display: none !important;
                                    visibility: hidden !important;
                                    .social-button--twitter {
                                        background-position: -120px -40px;
                                        opacity: 1;
                                        position: relative;
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown_postbox {
    width: 192px;
}
