.lSyOz {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 625px;
  width: 100%;
}

.lSyOz .rmkqO {
  margin-bottom: 40px;
  max-width: 540px;
  width: 100%;
  display: block;
}

.lSyOz .rmkqO .IiZ2z {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.333;
  margin-bottom: 10px;
  margin-left: 10px;
}

.lSyOz .rmkqO .Il4T7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.lSyOz .rmkqO .Il4T7 .dyc2r {
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 10px;
  display: inline-block;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  width: 100%;
}

.lSyOz .rmkqO .Il4T7 .dyc2r:placeholder-shown {
  text-overflow: ellipsis;
}

.lSyOz .rmkqO .Il4T7 .TRX6J {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: 1px solid #405368;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 10px;
}

.lSyOz .rmkqO .Il4T7 .TRX6J:disabled {
  cursor: inherit;
  border: 1px solid #405368;
}

.lSyOz .rmkqO .Il4T7 .TRX6J .Tb7Ey {
  background: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 6px 10px;
}

.lSyOz .rmkqO .NedHV {
  margin-top: 15px;
  display: block;
}

.lSyOz .rmkqO .NedHV .eXQ6G {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

.lSyOz .rmkqO .NedHV .eXQ6G:hover {
  background: #e5e7ea;
}

.lSyOz .rmkqO .NedHV .eXQ6G:last-of-type {
  border-radius: 0 0 6px 6px;
}

.lSyOz .rmkqO .NedHV .eXQ6G:first-of-type {
  border-radius: 6px 6px 0 0;
}

.lSyOz .rmkqO .NedHV .eXQ6G .Ro4PU {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou {
  word-wrap: break-word;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.2;
  min-height: 43px;
  outline: none;
  overflow-wrap: break-word;
  padding: 8px 10px;
  text-decoration: none;
  vertical-align: middle;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 {
  margin-right: 11px;
  position: relative;
  display: block;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 {
  position: relative;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 .BPf9u {
  vertical-align: top;
  width: inherit;
  display: block;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 .BPf9u .ppcontainer {
  width: 37px;
  height: 37px;
  position: relative;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 .BPf9u .ppcontainer .ntiBu {
  border-radius: 3px;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 .BPf9u .ppcontainer .ntiBu ._0MuRn {
  line-height: 0;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .qgKw0 .nZ9l5 .BPf9u .ppcontainer .ntiBu ._0MuRn .ppimg {
  width: 37px;
  height: 37px;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: default;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .BSUG4 {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .BSUG4 .gLEkw {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  word-break: break-word;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .BSUG4 .gLEkw .UulOO {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-break: break-word;
  color: black;
}

.lSyOz .rmkqO .NedHV .eXQ6G .wmRou .yElCb .BSUG4 .fTJAC {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  color: #505152;
  text-align: left;
  word-break: break-word;
  cursor: pointer;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 14px;
  position: relative;
  text-align: right;
  cursor: default;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  cursor: default;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .TRX6J {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .TRX6J:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #00b8ff;
          text-decoration-color: #00b8ff;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .TRX6J .f68ED {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  display: block;
  font: inherit;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .BPf9u {
  vertical-align: top;
  width: inherit;
  display: inline-block;
  text-align: right;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .BPf9u .TRX6J {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .BPf9u .TRX6J .EvhBA {
  color: inherit;
  font: inherit;
  display: block;
}

.lSyOz .rmkqO .NedHV .eXQ6G .SbeG8 .xWjHY .BPf9u .TRX6J .EvhBA .JS4zW {
  margin-right: -10px;
  padding: 0 10px;
  color: inherit;
  cursor: pointer;
}

.iaJAj {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.iaJAj .X1uIE {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: red;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  text-decoration: none;
  border: none;
  font: inherit;
}

.iaJAj .XLZRW {
  color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.iaJAj .XLZRW:hover {
  background-color: #e5e7ea;
}

.QiSmE {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  line-height: 1.4;
  max-width: 540px;
  padding: 0 2em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  width: 100%;
}

.QiSmE .B3EfW {
  font-size: 1.625rem;
  font-weight: bolder;
  line-height: 1.3077;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: center;
}

.QiSmE .rDKIp {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333;
  padding-bottom: 10px;
  padding-top: 20px;
  color: white;
  text-align: center;
}

.Qluee {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

.Qluee .B5hil {
  margin: 15px 8px 0;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.Qluee .B5hil .IMvK3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 6px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.span_error_styles_following {
  color: white;
  font-weight: 400;
  margin-left: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
/*# sourceMappingURL=following.css.map */