.help-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &-container {
        width: 100%;
        min-height: 100vh;
        max-width: 1280px;
        padding: calc(10vw + 30px) 5%;
        &-anchors {
            display: flex;
            justify-content: center;
            height: 100px;
            align-items: center;
            &-category {
                padding: 8px;
                border-radius: 50px;
                color: white;
                text-decoration: none;
                margin: 5px;
            }
        }
        &-wide-panel {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vw;
            font-size: calc(24px + 3vw);
            font-weight: 600;
            color: white;
        }
        &-category {
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;

            &-header {
                color: white;
                text-decoration: none;
                border-radius: 10px 10px 0 0;
                padding: 10px 15px 10px 15px;
                font-size: calc(2vw + 10px);
                padding-right: 40px;
                line-height: 3vw;
                font-weight: bold;
            }
            &-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 10px 15px 10px 15px;
                justify-content: space-between;

                &-link {
                    width: 300px;
                    color: black;
                    font-size: 16px;
                    padding: 10px 0;
                    text-decoration: none;
                }
            }
        }
    }
}
